# 
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

/docker/mysql/data/*

*~
*.pye
*.pyc
*.sqlite3
*.mo
**/__pycache__/
.python-version
.coverage
.vscode
.idea
secret_key.txt
cover
HASH
.scannerwork
pylint-report.txt
coverage.xml
statistics.html
.coverage.*
backups/*
yarn.lock
.mypy_cache
chrome.deb
chromedriver
selenium-server-standalone.jar
.DS_Store
!.gitkeep
.vscode
.python-version
celerybeat*
celeryd.*.pid
.vagrant/
media/

