{% load i18n crispy_forms_tags static widget_tweaks %}
<!doctype html>
<html>

<head>
  <title>{% trans 'Change Password' %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Favicon config -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap_4.3.1/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome_5.13.0/css/all.min.css' %}" />

  <style>
    .cms-form-login ul {
      float: left;
      width: 100%;
      margin-bottom: 15px;
      padding-left: 10px;
    }

    .cms-form-login li {
      list-style-type: disc;
      padding: 0 !important;
    }

    .form-control {
      margin-bottom: 0 !important;
    }
  </style>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row no-margin h-100">
      <div class="col-sm-12 no-padding login-box h-100">
        <div class="row no-margin w-100">

          <div class="small-logo">
            Book<span class="font-weight-bold">Digital</span>
          </div>

          <div class="d-none d-lg-flex col-lg-6 box-de">
            <img class="img-fluid" src="{% static 'img/logo_pernambucanas_lg.png' %}" alt="Pernambucanas">
          </div>


          <div class="col-lg-6 col-md-12 log-det">

            <div class="d-flex d-lg-none logo-mobile">
              <img class="img-fluid" src="{% static 'img/logo_pernambucanas_lg.png' %}" alt="Pernambucanas">
            </div>

            <form action="#" role="form" class="text-box-cont cms-toolbar-item cms-form-login" method="post">

              {% csrf_token %}

              <h2 class="text-left mb-4 font-weight-bold">{{ title }}</h2>

              <div class="intro-x mt-8">
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
              </div>

              <div class="text-box-cont">
                <div class="input-group center  mb-3">
                  <button type="submit" class="btn btn-success radius">{% trans 'Create' %}</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="{% static 'vendor/bootstrap_4.3.1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap_4.3.1/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap_4.3.1/js/popper.min.js' %}"></script>
</body>

</html>