{% extends 'processo/peticao-inicial.html' %}

{% load static crispy_forms_tags %}

{% block content %}

<style>
    legend {
        display: block;
        width: auto;
        padding: 0 5px;
        margin-bottom: 0;
        font-size: inherit;
        line-height: inherit;
        border: auto;
        border-bottom: none;
    }

    fieldset {
        border: 2px groove threedface;
        padding: 5px;
        width: 100%;
    }
</style>

<div class="container mt-2 pt-2">
    <div class="row">
        <h3>Peticionamento Eletrônico (3 de 5) - Partes (Requerentes)</h3>
    </div>
    <div class="row">
        <div class="col-12 mt-2 bg-light p-2">
            Informações do processo &nbsp;>> &nbsp; Assuntos &nbsp;>> &nbsp; <b>Partes Autoras</b> &nbsp;>> &nbsp;
            Partes Réus &nbsp;>> &nbsp; Documentos
        </div>

        <br>
        <div class="col-12 pb-2 pt-2">
            <form action="" role="form" method="post">
                <div class="row">
                    {% csrf_token %}

                    <div class="col-md-12 mb-3 mt-3">

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.parte_autora|as_crispy_field }}
                            </div>
                        </div>

                        <br><br>
                        <button type="submit" class="btn btn-primary float-right">
                            Próximo Passo
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
{% endblock%}