{% extends "base_email.html" %}

{% load i18n %}

{% block content %}
<h3>
  Book<b>Digital</b>
  <p>
    {% trans 'Hello' %} 
    {% if user.first_name %}
    {{ user.first_name }}
    {% else %}
    {{ user.email }}
    {% endif %},
    {% trans 'we received your password recovery request!' %}
  </p>
  <p>
    {% trans 'If you did not request password recovery, please disregard this email, otherwise click on the link below to generate your new password.' %}
  </p>
  <table border="0">
    <tr>
      <td>
        <strong>{% trans 'Alter password link' %}: <strong> <a href="{{ url }}" target="_blank" rel="noopener">{% trans 'Recover Password' %}</a>
      </td>
    </tr>
  </table>
</h3>
{% endblock content %}
